<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-ajax/core-ajax.html">
<link rel="import" href="../core-image/core-image.html">

<polymer-element name="pokemon-card" attributes="pokemon">
  <template>
    <style>
      :host {
        display:block;
        padding:10px;
        border:2px solid #e0e0e0;
        border-radius: 4px;
      }
      h1 {
        padding:0;
        margin:0;
      }
      p {
        padding: 0;
        margin: 0;
      }
      .pokemon-attributes {
        margin:0 0 0 10px;
      }

      .combat-attributes {
        width: 85px;
        text-align: left;
      }

      .water-gradient {
        background: -moz-linear-gradient(left,  rgba(30,87,153,1) 0%, rgba(255,255,255,0.35) 65%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(65%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00ffffff',GradientType=1 );
      }

      .normal-gradient {
        background: -moz-linear-gradient(left,  rgba(140,140,140,1) 0%, rgba(255,255,255,0.35) 65%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(140,140,140,1)), color-stop(65%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(140,140,140,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left,  rgba(140,140,140,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left,  rgba(140,140,140,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(140,140,140,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#00ffffff',GradientType=1 );
      }

      .fire-gradient {
        background: -moz-linear-gradient(left,  rgba(211,31,0,1) 0%, rgba(255,255,255,0.35) 65%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(211,31,0,1)), color-stop(65%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(211,31,0,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left,  rgba(211,31,0,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left,  rgba(211,31,0,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(211,31,0,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d31f00', endColorstr='#00ffffff',GradientType=1 );
      }

      .bug-gradient {
        background: -moz-linear-gradient(left,  rgba(0,150,7,1) 0%, rgba(255,255,255,0.35) 65%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,150,7,1)), color-stop(65%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(0,150,7,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left,  rgba(0,150,7,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left,  rgba(0,150,7,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(0,150,7,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009607', endColorstr='#00ffffff',GradientType=1 );
      }

      .flying-gradient {
        background: -moz-linear-gradient(left,  rgba(238,255,0,1) 0%, rgba(255,255,255,0.35) 65%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,255,0,1)), color-stop(65%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(238,255,0,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left,  rgba(238,255,0,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left,  rgba(238,255,0,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(238,255,0,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeff00', endColorstr='#00ffffff',GradientType=1 );
      }

      .poison-gradient {
        background: -moz-linear-gradient(left,  rgba(127,0,178,1) 0%, rgba(255,255,255,0.35) 65%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(127,0,178,1)), color-stop(65%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left,  rgba(127,0,178,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left,  rgba(127,0,178,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left,  rgba(127,0,178,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right,  rgba(127,0,178,1) 0%,rgba(255,255,255,0.35) 65%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f00b2', endColorstr='#00ffffff',GradientType=1 );
      }
    </style>
    <div class="{{ getType(pokemon) }}-gradient" layout horizontal justified center>
      <div layout horizontal center>
        <template if="{{ _hasSprite(pokemon) }}">
          <core-ajax
           auto
           url="{{ _getSpriteURI(pokemon) }}"
           method="GET"
           handleAs="json"
           response="{{ sprite }}"></core-ajax>
          <core-image 
           style="width:95px; height:95px; margin:5px; border-radius:50%; border: 2px solid lightgray; background: #fff;" 
           sizing="cover" 
           preload 
           src="http://pokeapi.co{{ sprite.image }}"></core-image>
        </template>
        <div class="pokemon-attributes">
          <h1>{{ pokemon.name }}</h1>
          <p><label>Height: </label>{{ pokemon.height }}ft <label>Weight: </label>{{ pokemon.weight }}lbs</p>
        </div>
      </div>
      <div class="combat-attributes">
        <p><label>Attack: </label>{{ pokemon.attack }}</p>
        <p><label>Defense: </label>{{ pokemon.defense }}</p>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      ready: function() {
        console.log('Type:', this.getType(this.pokemon));
      },
      getType: function(pokemon) {
        if (!pokemon || !Array.isArray(pokemon.types)) return 'normal';
        return pokemon.types[0].name;
      },
      _hasSprite: function(pokemon) {
        if (!pokemon || !Array.isArray(pokemon.sprites)) return false;
        return pokemon.sprites.length > 0;
      },
      _getSpriteURI: function(pokemon) {
        return 'http://pokeapi.co' + pokemon.sprites[0].resource_uri;
      }
    });
  </script>
</polymer-element>